<section class="hero text-white py-16 mx-8">
  <div
    class="container mx-auto flex flex-col md:flex-row items-center justify-between"
  >
    <!-- Texte à gauche -->
    <div class="hero1 text-left md:w-1/2 mb-8 md:mb-0">
      <h1 class="text-4xl text-black font-bold mb-4">Regis Drouin</h1>
      <h3 class="text-2xl text-[#e8950f] font-bold mb-4">Artisan carreleur</h3>
      <p class="text-xl text-gray-700 italic leading-relaxed mb-8">
        Mon approche se distingue par un accompagnement complet et
        personnalisé.<br />
        Dès le début de votre projet, je vous conseille sur le choix des
        matériaux,<br />
        des motifs et des techniques de pose les plus adaptés à vos besoins<br />
        et à votre budget. Que vous optiez pour du carrelage en<br />
        céramique, en grès ou en porcelaine, je vous<br />
        guide pour faire les meilleurs choix <br />esthétiques et fonctionnels.
      </p>
      <a
        href="/contact"
        class="bg-[#e8950f]  hover:bg-[#c87d08] text-white font-bold py-2 px-6 rounded-md transition duration-300"
      >
        Demander un devis
      </a>
    </div>

    <!-- Image à droite -->
    <div class="md:w-1/2">
      <img
        src="/images/image1.jpg"
        alt="Image illustrant Regis Drouin"
        class="rounded-lg shadow-lg w-full"
      />
    </div>
  </div>
</section>

<section class="bg-white py-12 mx-8">
  <div class="container mx-auto text-center max-w-4xl">
    <h2 class="text-2xl md:text-3xl font-bold text-gray-800 mb-6">
      Pose de carrelage à Nantes et ses alentours
    </h2>
    <p class="text-lg md:text-xl text-gray-700 leading-relaxed mb-6">
      Vous habitez sur Nantes et ses alentours : Vigneux de Bretagne,
      Saint-Etienne-de-Montluc, St Herblain, Vertou, Sautron, Orvault, ou encore
      d’autres villes de la région ? N’hésitez pas à menodem contacter par
      téléphone, par mail, ou via le formulaire « Demande de devis ».
    </p>
    <!-- Bouton centré -->
    <a
      href="/contact"
      class="bg-[#e8950f]  hover:bg-[#c87d08] text-white font-bold py-3 px-8 rounded-md transition duration-300 inline-block"
    >
      Demander un devis
    </a>
  </div>
</section>

<section class="services py-12 mx-8">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold text-center mb-8">Nos Services</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
      <!-- Carte 1 - Carrelage -->
      <a href="/carrelage">
        <div
          class="bg-white p-6 rounded-lg shadow-md hover:bg-[#e8950f] hover:shadow-lg transition duration-300 h-[400px] flex flex-col"
        >
          <h3 class="text-xl font-bold mb-4">Pose de carrelage</h3>
          <img
            class="rounded w-full h-[300px] object-cover"
            src="/images/regis-drouin-carreleur-nantes-Votre-carreleur-a-Heric.webp"
            alt="Exemple de carrelage moderne"
          />
        </div>
      </a>

      <!-- Carte 2 - Salle de bains -->
      <a href="/salle-de-bains">
        <div
          class="bg-white p-6 rounded-lg shadow-md hover:bg-[#e8950f] hover:shadow-lg transition duration-300 h-[400px] flex flex-col"
        >
          <h3 class="text-xl font-bold mb-4">Salle de bains</h3>
          <img
            class="rounded w-full h-[300px] object-cover"
            src="/images/regis-drouin-carreleur-nantes-pose-de-carrelage-a-Heric.webp"
            alt="Salle de bains carrelée"
          />
        </div>
      </a>

      <!-- Carte 3 - Terrasse -->
      <a href="/Terrasse">
        <div
          class="bg-white p-6 rounded-lg shadow-md hover:bg-[#e8950f] hover:shadow-lg transition duration-300 h-[400px] flex flex-col"
        >
          <h3 class="text-xl font-bold mb-4">Terrasse extérieure</h3>
          <img
            class="rounded w-full h-[300px] object-cover"
            src="/images/regis-drouin-carreleur-nantes-NoPath-Copie.webp"
            alt="Terrasse en carrelage"
          />
        </div>
      </a>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const heroSection = document.querySelector(".hero1");
    heroSection.classList.add("slide-in");
  });
</script>
