@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 1s ease-out;
}

/* ------------------------- */

.relative.min-h-screen {
  aspect-ratio: 16/9; /* Ajustez selon le ratio de votre image originale */
  overflow: hidden;
}

@media (max-width: 768px) {
  .relative.min-h-screen {
    aspect-ratio: 4/5; /* Ratio adapté aux mobiles */
  }
}

